venv/
.venv/
env/
.env/
__pycache__/
*.exe
bin/
*.pyc
*.zip
*.keras
*.h5
*.pb
saved_model_batik_baru/
save_model_batik_revisi/
Batik300/
dataset/
uploads/
tmp/
*.drawio
.png
*.jpg
.jpeg
.DS_Store
Thumbs.db